/* Webfont: PrettyNeat-BoldItalic */
@font-face {
    font-family: 'PrettyNeat';
    src: url('PrettyNeat-BoldItalic.woff2') format('woff2'), /* Modern Browsers */ url('PrettyNeat-BoldItalic.otf') format('opentype'); /* Safari, Android, iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
